nav .fa{font-size: 25px;}
nav svg.nav-time-record{vertical-align: top;}
nav .fa:hover,nav svg.nav-time-record:hover{opacity: 0.5;text-decoration: none;}
nav#media-controls{ border-radius: 5px;-webkit-border-radius: 5px;}
.playground{min-height: 500px;}
/* Right sidebar */
.right-sidebar{min-height: 400px;}
/* Chat Box */
#chatBox{/*height: 250px;*/}
#chatBox ul.chat-bar li{position: relative; cursor: pointer;}
#chatBox .chat-list{height: 200px;}
.chat-list{list-style: none;
  margin: 0;
  padding: 10px 5px 0 0;
  overflow: auto;
}
.chat-list li{margin-bottom: 10px;padding-bottom: 5px;border-bottom: 1px dotted #B3A9A9;}
.chat-list li.left .chat-body{margin-left: 60px;}
.chat-list li.right .chat-body{margin-right: 60px;}
.chat-list li .chat-body p{
  margin: 0;
  color: #fff;
  background-image: linear-gradient(to right, #b40000 , #e7ce00);
  padding: 7px;
  border-radius: 12px 12px 0px 0px;
}
/* YT Player */
iframe.youtube-player,div.code-container .code-editor{ width: 100%; height: 100%;}
div.code-container select.language-chooser{z-index:99; left: auto !important;}
.modal-backdrop.show.loader{opacity: 1;}
.modal-backdrop .loader-container{top: 48%; left: 48%;}
.zindex-5000{z-index: 5000!important;}
.zindex-4000{z-index: 4000!important;}
.zindex-3000{z-index: 3000!important;}
.zindex-2000{z-index: 2000!important;}
.zindex-1000{z-index: 1000!important;}

/* Video box */
div.remote-videos .video_box{
  position: relative;
}
div.remote-videos .video_box .no-vid-container,div.remote-videos .video_box .vid-controls{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100%;
  width: 100%;
  height: 100%;
  opacity: .6;
}
div.remote-videos .video_box .no-vid-container i{position: absolute;top: 45%;left: 0;right: 0; margin: auto; text-align: center;}
div.remote-videos .video_box .vid-controls{background-color: #000;display: none;}
div.remote-videos .video_box .vid-controls a {
    color: black;
    background-color: white;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    text-decoration: none;
}
div.remote-videos .video_box:hover .vid-controls{
  display: block;
}
div.remote-videos .video_box .vid-controls .control-container{
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
div.remote-videos .video_box .vid-controls a.audio-control.active .fa-microphone, div.remote-videos .video_box .vid-controls a.expand-control.active .fa-compress, div.remote-videos .video_box .vid-controls a.expand-control .fa-expand, div.remote-videos .video_box .vid-controls a.audio-control .fa-microphone-slash, div.remote-videos .video_box .vid-controls a.video-control .fa-video-slash, div.remote-videos .video_box .vid-controls a.video-control.active .fa-video{
    display: block;
}
div.remote-videos .video_box .vid-controls a.audio-control .fa-microphone, div.remote-videos .video_box .vid-controls a.expand-control .fa-compress, div.remote-videos .video_box .vid-controls a.expand-control.active .fa-expand, div.remote-videos .video_box .vid-controls a.audio-control.active .fa-microphone-slash, div.remote-videos .video_box .vid-controls a.video-control .fa-video, div.remote-videos .video_box .vid-controls a.video-control.active .fa-video-slash{
    display: none;
}
div.remote-videos video::-webkit-media-controls {
  display:none !important;
}

/* thanks to loader.io */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.panel .slidedown .glyphicon, .chat .glyphicon{margin-right: 5px;}
.panel-body{overflow-y: scroll;height: 250px;}
::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
::-webkit-scrollbar{width: 12px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #555;}

/* participants dropdown */
.dropdowns-wrapper {
  padding: 4px 0px;
  display: inline;
}
.dropdown-container {
  display: inline-block;
  position: relative;
}
.dropdown-container .dropdown {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.dropdown-container .dropdown-menu {
  position: absolute;
  display: none;
  z-index: 1;
  left: -130px;
  top: 60px;
  min-height: 10px;
  min-width: 10px;
  width: 280px;
}
.dropdown-container .dropdown-menu .dropdown-header {
  background: #FFF;
  padding: 15px;
  position: relative;
  text-align: center;
  color: #747F8B;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
  -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
  border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
  box-shadow: 0px 2px 10px -2px #cedae0;
}
.dropdown-container .dropdown-menu .dropdown-header .triangle {
  position: absolute;
  top: -8px;
  left: 134px;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  background: #FFF;
  border-left: 1px solid rgba(0,0,0,.15);
  border-top: 1px solid rgba(0,0,0,.15);
}
.dropdown-container .dropdown-menu .dropdown-header .count {
  position: static;
  height: 25px;
  width: 25px;
  display: inline-block;
  line-height: 24px;
  margin-left: 8px;
  font-size: 12px;
  vertical-align: middle;
}
.dropdown-container .dropdown-menu .dropdown-body {
  max-height: 292px;
  background: #e9f0f3;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-container .dropdown-menu .dropdown-body .notification {
  background: #FFF;
  padding: 15px;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
  -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
  border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
}
.dropdown-container .dropdown-menu .dropdown-body .notification.new {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #e9f0f3;
}
.dropdown-container .dropdown-menu .dropdown-body .notification .notification-image-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.dropdown-container .dropdown-menu .dropdown-body .notification .notification-image {
  display: inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 100%;
}
.dropdown-container .dropdown-menu .dropdown-body .notification .notification-text {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  color: #747F8B;
  cursor: pointer;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 21px;
}
.dropdown-container .dropdown-menu .dropdown-body .notification .notification-text .highlight {
  font-weight: bold;
}
.dropdown-container .count {
  position: absolute;
  top: -6px;
  right: -1px;
  height: 15px;
  width: 15px;
  overflow: hidden;
  background: #21B7B7;
  color: #FFF;
  text-align: center;
  border-radius: 100%;
  font-size: 9px;
  font-weight: bold;
  line-height: 15px;
}
.notifications {
  margin-right: 10px;
}
.messages {
  margin-left: 10px;
}
.user {
  background: #9FB6C3;
  border-left: 0px;
  position: absolute;
  right: 0;
  top: -1px;
}
.user-options-wrapper .user-image {
  background: url("http://www.apnatimepass.com/tom-cruise-ms.jpg");
  background-size: cover;
  background-position: center;
  vertical-align: bottom;
  height: 32px;
  width: 32px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}
.user-options-wrapper .user-options {
  vertical-align: bottom;
  border: 2px solid #FFF;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.user-options-wrapper .user-options .fa {
  position: absolute;
  top: 9px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #FFF;
  font-size: 12px;
}
.wrapper .body-image {
  /*background: url('http://stock-wallpapers.com/wp-content/uploads/2014/05/nexus_5_wall_8.jpg');*/
  background: #577597;
  max-width: 100%;
  height: 440px;
  background-size: cover;
  background-position: center;
  margin-top: -2px;
  padding: 30px;
  position: relative;
  border-radius: 2px;
}
.wrapper .body-image .instruction {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  color: #FFF;
  font-size: 18px;
  width: 100%;
  height: 20px;
  text-align: center;
}
.wrapper .body-image .info {
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.wrapper .body-image .info ul {
  list-style: square;
  padding-right: 20px;
}
.wrapper .body-image .info ul li {
  margin-bottom: 13px;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 21px;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}
.wrapper .body-image .info .ok-btn-wrapper {
  text-align: center;
  position: relative;
  padding: 4px 0px 10px 0px;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn .text {
  z-index: 1;
  position: relative;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn .hover-overlay {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  background: #21B7B7;
  opacity: .6;
  z-index: 0;
}
.wrapper .body-image .info .ok-btn-wrapper .ok-btn:hover .hover-overlay {
  width: 100%;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 6px #E3EBEF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #E3EBEF;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #9FB6C3;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #9FB6C3;
}

.new.notification.ng-enter {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  margin-top: -20%;
  background: #dde6eb !important;
}

.new.notification.ng-enter-active {
  margin-top: 0;
}

.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

/* new message */
.new_message {
	position: absolute;
	top: -6px;
	right: -1px;
	height: 15px;
	width: 15px;
	overflow: hidden;
	background: #617027;
	color: #FFF;
	text-align: center;
	border-radius: 100%;
	font-size: 9px;
	font-weight: bold;
	line-height: 15px;
}

/* white-board */
div.white-board{width: 100%; height: 100%;}
input.tab-input{height: 24px;}
div.content-nav{width: 200px;}
div.content-nav .disabled{opacity: 0.5;}


/*--stylenew--*/
.header-cont {
	background: #eee !important;
}

.header-cont .my-0.mr-md-auto.font-weight-normal {
	color: #000;
}
.container-fluid {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #900000;
	border-color: #dee2e6 #dee2e6 #fff;
	color: #FFF !important;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #FFF;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
#play-menu .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #617027;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
}
.btn-primary:hover {
	color: #fff;
	background-color: #900000;
	border-color: #900000;
}
.btn-primary {
	color: #fff;
  background-image: linear-gradient(to right, #b40000 , #e7ce00);
  border-color: #900000;
}

.default-tab p {
	margin-top: 17px;
	font-size: 21px;
}
.tool-item{
  width: 30px;
  height: 30px;
  display: block;
  background-size: cover;
}
.tool-item.fa-slash{top: 6px; position: relative; font-size: 20px;} 
.tool-arrow{ background-image: url('../img/arrow.png') }
.tool-brush{ background-image: url('../img/brush.png') }
.tool-circle{ background-image: url('../img/circal.png') }
.tool-colorpicker{ background-image: url('../img/colorpicker.png') }
.tool-eraser{ background-image: url('../img/eraser.png') }
.tool-grab{ background-image: url('../img/grab.png') }
.tool-pen{ background-image: url('../img/pentool.png') }
.tool-rectangle{ background-image: url('../img/rectangle.png') }
.tool-text{ background-image: url('../img/texticon.png') }
.tool-triangle{ background-image: url('../img/trigle.png') }
.tool-undo{ background-image: url('../img/undodrawing.png') }
.control-container.controls-top .control-button, .control-container.controls-top .control-integer .control-button{padding: 2px;}
.control-container.controls-left .control-button{padding: 6px 2px;}

.fa-4{font-size: 4em;}
.theme-color{color: #900000;}
.content-item >a >i.fa-file-pdf,.content-item >a >img{height: 100px;}
.content-item >a >i.fa-file-pdf{font-size: 6em;}
.content-item >a.pdf-item{display: block; text-align: center;} 
.no-edit #play-menu,.no-edit .language-chooser,.no-edit .white-board .control-container, .content-tabs .overlay{display:none;}
.no-edit .content-tabs .overlay{display: block;}
.content-tabs .overlay{width: 100%; height: 100%;}
